[submodule "table-of-contents-sidebar/table-of-contents-sidebar-lib"]
	path = table-of-contents-sidebar/table-of-contents-sidebar-lib
	url = https://github.com/table-of-contents-sidebar/table-of-contents-sidebar-lib.git
