.table-of-contents-sidebar-fixed-sidebar {
    transition: all 0.25s linear;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #f1f1f1;
    overflow-y: auto;
    z-index: 2147483647;
    border: 1px solid #cecece;
    font-size: 15px;
    white-space: nowrap;
    opacity: 0.94;
}

.table-of-contents-sidebar-fixed-sidebar span img {
    display: inline-block;
}

.table-of-contents-sidebar-fixed-sidebar span {
    display: inline-block;
    margin: 5px 0 0 10px;
}

.table-of-contents-sidebar-fixed-sidebar ul {
    padding: 0 10px 10px 6px;
    margin: 0;
    line-height: 1.5;
}

.table-of-contents-sidebar-fixed-sidebar ul li {
    list-style-type: none;
    overflow-x: hidden;
}

.table-of-contents-sidebar-fixed-sidebar ul li .H1-ANCHOR {
    margin-left: 0px;
}

.table-of-contents-sidebar-fixed-sidebar ul li .H2-ANCHOR {
    margin-left: 20px;
}

.table-of-contents-sidebar-fixed-sidebar ul li .H3-ANCHOR {
    margin-left: 40px;
}

.table-of-contents-sidebar-fixed-sidebar ul li .H4-ANCHOR {
    margin-left: 60px;
}

.table-of-contents-sidebar-fixed-sidebar ul li .H5-ANCHOR {
    margin-left: 80px;
}

.table-of-contents-sidebar-fixed-sidebar ul li .H6-ANCHOR {
    margin-left: 100px;
}

.table-of-contents-sidebar-fixed-sidebar .copyright {
    right: 14px;
    position: absolute;
    color: #7C8A9B;
    font-size: 11px;
    bottom: 12px;
}

.table-of-contents-sidebar-menu {
    position: fixed;
    right: 0;
    top: 48%;
    height: 35px;
    width: 35px;
    z-index: 2147483646;
    cursor: pointer;
    alt: "Toggle Sidebar";
    title: "Toggle Sidebar";
}