.table-of-contents-sidebar-fixed-sidebar {
    font-family: roboto;
    transition: width 0.25s linear;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: white !important;
    z-index: 2147483646;
    font-size: 15px;
    white-space: nowrap;
    opacity: 1;
    font-size: 14px !important;
}

.table-of-contents-sidebar-fixed-sidebar.show {
    width: 250px;
    -webkit-box-shadow: 0px 0px 12px 12px rgba(216,216,216,0.2);
    -moz-box-shadow: 0px 0px 12px 12px rgba(216,216,216,0.2);
    box-shadow: 0px 0px 12px 12px rgba(216,216,216,0.2);
}

.table-of-contents-sidebar-fixed-sidebar span img {
    display: inline-block;
}

.table-of-contents-sidebar-fixed-sidebar span {
    display: inline-block;
    margin: 10px 0 0 5px;
}

.table-of-contents-sidebar-fixed-sidebar ul {
    padding: 0 10px 10px 10px !important;
    margin: 10px !important;
    color: #212121 !important;
    overflow-y: auto !important;
    height: calc(100% - 110px) !important;
}

.table-of-contents-sidebar-fixed-sidebar ul li {    
    list-style-type: none;
    line-height: 1.9 !important;
    overflow-x: hidden;
}

.table-of-contents-sidebar-fixed-sidebar ul li a:visited {    
    text-decoration: none !important; 
    color: #212121 !important;
}

.table-of-contents-sidebar-fixed-sidebar ul li a {    
    text-decoration: none !important; 
    color: #212121 !important;
}

.table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-1{
  padding-left: 0px;
}

.table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-2{
  padding-left: 16px;
}

.table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-3{
  padding-left: 32px;
}

.table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-4{
  padding-left: 48px;
}

.table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-5{
  padding-left: 64px;
}

.table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-6{
  padding-left: 80px;
}

.table-of-contents-sidebar-fixed-sidebar .copyright {
    color: #7C8A9B !important;
    font-size: 11px !important;   
    display: inline-block !important;    
    margin-left: 20px !important;
    margin-bottom: 10px !important;
    line-height: normal !important;    
    border: none !important;
}

.table-of-contents-sidebar-fixed-sidebar .copyright a:link {
    text-decoration: none !important;
    color: #212121 !important;
}

.table-of-contents-sidebar-fixed-sidebar .copyright a:visited {
    text-decoration: none !important;
    color: #212121 !important;
}

.table-of-contents-sidebar-fixed-sidebar .copyright a:hover {
    text-decoration: underline !important;
    color: #212121 !important;
}

.table-of-contents-sidebar-fixed-sidebar .copyright a:active {
    text-decoration: underline !important;
    color: #212121 !important;
}

.table-of-contents-sidebar-menu {
    position: fixed;
    right: 18px;
    top: 48%;
    height: 35px;
    width: 35px;
    z-index: 2147483645;
    cursor: pointer;
}

#table-of-contents-sidebar-fixed-sidebar-tooltip {
  opacity: 0;
  margin: 0 8px 0 8px;
  text-align: center;
  color: #fff;
  background: #344150;
  position: absolute;
  z-index: 2147483647;
  padding: 5px 8px !important;
  pointer-events: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;    
  white-space: normal;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip.top {
  margin-top: 5px;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip.show {
  opacity: 1;
  margin-top: 5px;
  pointer-events: all;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip.show.top {
  margin-top: 10px;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #344150;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 5px solid #344150;
  top: -10px;
  bottom: auto;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip.left:after {
  left: 5px;
  margin: 0;
}
#table-of-contents-sidebar-fixed-sidebar-tooltip.right:after {
  right: 5px;
  left: auto;
  margin: 0;
}
